.story-component {
    background-color : #4C83A0;
    color : whitesmoke;
    text-align : center;
    border:solid 10px darkorange;
    box-shadow: 5px 5px 5px 1px dodgerblue;
    grid-auto-columns: auto;
    position: relative;
    padding : 0.2rem;
    justify-content: center;
    text-justify:newspaper;
    border-radius : 2rem;
    padding: auto;
}
.vote-div{
    display : flex;
    align-items: center;
    text-align : center;
    justify-content:flex-end;
    top : 5rem;
}

.btn:hover{
    style : none;
}
.btn{
    text-align : none !important;
}

.link:hover{
    background-color:#6CA6C1 ;
    color : #EDF060;

}

.vote{
    background-color : dodgerblue;
    font-size : 40px !important;
    border-radius : 15px;

}
p{
    font-size : 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align : center;
    font-family: Arial, Helvetica, sans-serif;
}
.user{
    color : white;
}
.link{
    color : orange;
    text-decoration-color: dodgerblue;
}
