.copyright{
    background-color : #444444;
    text-align : center;
    color : white;
    padding : 2rem;
    font-size : 20px;
    
}
p:hover{
    text-decoration : underline;
    text-decoration-color: dodgerblue;
    cursor: pointer;
}